header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom right, var(--bg_white1) 0%, var(--bg_white1) 50%, var(--color_font_second) 50%, var(--color_font_second) 100%);
    background-size: 100% 100%;
    width: auto;
    height: 100vh;
}


.navbar_desktop menu{
    display: none;
}

.button_night{
    display: none;
}

header .navbar_mobile {
    display: flex;
    margin:20px 0;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.main_content .title_sub_desktop{
    display: none;
}

header .navbar_mobile .navbar_title{
    margin: 0;
    font-family: var(--font_primary);
    color: var(--color_font_day1);
    font-style: italic;
    font-weight: 900;
    font-size: 63px;
    background: var(--bg_white1);
    border: 6px solid var(--color_font_day1);
    border-radius: 50%;
    padding: 12px;
}


header .navbar_mobile .navbar_title.fixed {
    margin: 0;
    font-family: var(--font_primary);
    color: var(--bg_white1);
    font-style: italic;
    font-weight: 900;
    font-size: 23px;
    background: var(--color_font_day1);
    border: 3px solid var(--bg_white1);
    border-radius: 50%;
    padding: 12px;
}


.button_day{
    margin: 0;
    background-color: var(--color_font_day1);
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    cursor: pointer;
}

.button_day.fixed {
    margin: 10px 0;
    background-color: var(--color_font_day1);
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--bg_white2);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

main .main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} 

.main_content .title{
    font-family: var(--font_second);
    color: var(--color_font_day1);
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 0 10px;
    animation: slideInRight 1s ease-out forwards;
}

.main_content .subtitle{
    font-family: var(--font_second);
    color: var(--color_font_day1);
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    animation: slideInRight 1s ease-out forwards;
}
.main_content .subtitle span{
    color: var(--color_font_day1);
    font-style: italic;
}

.main_content .luisguilherme {
    background-color: transparent;
    border: 5px solid var(--color_font_day1);
    border-radius: 50%;
    padding: 10px;
    animation: slideInLeft 4s ease-out forwards, pulse 1.5s ease-in-out 3 4s;
}

.main_contacts{
    margin-top: 10px;
}

.main_contacts .contacts_night{
    display: none;
}

.main_contacts .contacts_day{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 20px;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@media only screen and (min-width: 1024px){

    
    nav .navbar_mobile{
        display: none;
    }

    .button_day{
        padding: 8px;
        width: 40px;
        height: 40px;
    }

    main .main_content {
        margin: 80px 50px 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .main_content .title,
    .main_content .subtitle{
        display: none;
    }

    .main_content .title_sub_desktop{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main_content .title_desktop{
        font-family: var(--font_second);
        color: var(--color_font_day2);
        font-size: 35px;    
        text-align: center;
        font-weight: 500;
        margin: 0 10px;
        animation: fadeIn 3s ease-out forwards;
    }
    
    
    .main_content .subtitle_desktop{
        font-family: var(--font_second);
        color: var(--color_font_day2);
        font-size: 40px;
        text-align: center;
        font-weight: 500;
        animation: fadeIn 3s ease-out forwards;
    }
    .main_content .subtitle_desktop span{
        color: var(--color_font_day1);
        font-style: italic;
    }

    .main_content .luisguilherme{
        width: 350px;
        height: auto;
        animation: slideInLeft 4s ease-out forwards, pulse 1.5s ease-in-out 3 4s;
        margin-left: 55px;
    }

    
    .main_contacts .contacts_night{
        display: none;
    }
    
    .main_contacts .contacts_day{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        gap: 30px;
  
    }
    
    .main_contacts .contacts_day img{
        background-color:transparent;
        border: solid 3px transparent;
        width:70px;
        height: auto;
        padding: 20px;
        border-radius: 30px;
    }
    .main_contacts .contacts_day img:hover{
        background-color: var(--bg_black2);
        border: solid 3px var(--bg_black2);
        padding: 20px;
        border-radius: 30px;
    }
}